:root {
  --content-margin-left: 282px;
  --content-margin-right: 282px;
  --content-margin-top: 80px;
  --content-margin-bottom: 48px;
  --content-mobile-margin-left: 24px;
  --content-mobile-margin-right: 24px;
  --content-mobile-margin-top: 24px;
  --content-mobile-margin-bottom: 48px;
  --content-width: 800px;
}

body {
  margin: 0;
  font-family: Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
